body{
    background-color: aquamarine;
}

.nav{
    background-color: rgb(194, 194, 221);
    text-decoration: double;
    color: aliceblue;
    text-align: center;
}
h1,h2{
    font-style: oblique;
    text-align: center;
}

footer{
    align-items: center;
}

.zapa{
    display: flex;
    justify-content: center;
}
img{
    width: 35%;
    height: 35%;
}
.foot{
    text-align: left;
    justify-content: left;
}