body{
    background: linear-gradient(rgba(5,7,12,0.35), rgba(5,7,12, 0.35)),
    url('../Imagenes/Fondo8.jpg');
    background-size: auto;
    cursor: cell ;

}
.pipa{
    display: block;
    margin: auto;
    width: 50px;
    height: 50px;
}
h1,h2{
    color: black;
    font-style: oblique;
    text-align: center;
}

.margen{
    margin-top: 20px;
}

.navbar{
    display: flexbox;
    margin: auto;
}

footer{
    display: contents;
    align-items: center;
}

.modal-container{
    display: flex;
    background-color: rgba(5,7,12, 0.35);
    align-items: center;
    justify-content: center;
    position: fixed;
    pointer-events: none;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    opacity: 0;
}

.show{
    pointer-events: auto;
    opacity: 1;
}

.shows{
    pointer-events: auto;
    opacity: 1;
    transition: opacity 5s;    
}

.Modal{
    background-color: white;
    box-sizing: border-box;
    width: 600px;
    max-width: 100%;
    padding: 30px 50px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(5,7,12, 0.75);
    text-align: center;
}
.inicio{
    align-items: center;
    width: 70%;
    display: inline-block;
    }

.modal h1{
    margin: 0;
}

.modal p{
    opacity: 0.7;
    font-size: 14px;
}

.zapa{
    display: block;
    margin: auto;
    border-radius: 35%;
    width: 35%;
    height: 35%;
    animation: latido;
    animation-duration: 5000ms;
    animation-iteration-count: infinite;
}

.foot{
    text-align: left;
    justify-content: left;
}



@media ( (max-width: 500px)){
    body{
        background: linear-gradient(rgba(5,7,12,0.35), rgba(5,7,12, 0.35)),
        url('../Imagenes/Fondo8.jpg');
        background-repeat: round;
    }
    .foot{
        text-align: left;
        justify-content: left;
    }
    .navbar{
        size-adjust: auto;
        display: flexbox;
        margin: auto;
    }

}

/*-------EFECTOS--------*/

@keyframes latido {

    0%{
        transform: scale(0);
    }
    50%{
        transform: scale(0.5);
    }
    100%{
        transform: scale(1);
    }
    80%{
        transform: scale(0.5);
    }
    100%{
        transform: scale(0);
    }
    
}
